<div x-data="addNewDropdown()"
    class="nav-user-notification
    cursor-pointer relative
    rounded-full shadow-sm
    border border-gray-200
    flex justify-center items-center
    bg-white p-1">

    <!-- the plus icon | dropdown trigger -->
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
    </svg>

    <!-- actual dropdown -->
    <div x-show.transition.origin.top.right="isOpen()"
        class="nav-user-notification-dropdown absolute">

    </div>
</div>


<!-- alpinejs data -->
<script>
    function addNewDropdown() {
        return {
            _show: false,

            isOpen() {
                return this._show === true;
            },
            open() {
                this._show = true;
            },
            close() {
                this._show = false;
            },
            toggle() {
                this._show == !this._show;
            }
        };
    }
</script>
