<div x-data="addNewDropdown()"
    @click="open()"
    data-tippy-content="Add new"
    class="nav-user-notification
    cursor-pointer relative
    rounded-full shadow-sm
    border border-gray-200
    flex justify-center items-center
    bg-white p-1">

    <!-- the plus icon | dropdown trigger -->
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
    </svg>

    <!-- actual dropdown -->
    <div x-show.transition.origin.top.right="isOpen()" @click.away="close()"
        class="nav-user-area-dropdown addnew
        flex flex-col justify-start align-start
        absolute z-50 left-0
        rounded-lg bg-white "
        style="top: 180%; min-width: 100px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;">

        <div class="menu-group py-1">
            <a href="#"
               class="py-2 px-4 min-w-max pr-14 not-ajax
               text-gray-500 text-sm
               transition duration-300">
                Issue
            </a>

            <a href="#"
               class="py-2 px-4 min-w-max pr-14 not-ajax
               text-gray-500 text-sm
               transition duration-300">
                Project
            </a>

            <a href="#"
               class="py-2 px-4 min-w-max pr-14 not-ajax
               text-gray-500 text-sm
               transition duration-300">
                Organization
            </a>
        </div> <!-- .menu-group -->
    </div> <!-- .nav-user-area-dropdown -->
</div>


<style>
    .nav-user-area-dropdown.addnew::after,
    .nav-user-area-dropdown.addnew::before {
        right: unset;
    }

    .nav-user-area-dropdown.addnew::after {
        left: 10px;
    }
    .nav-user-area-dropdown.addnew::before {
        left: 11px;
    }

</style>


<!-- alpinejs data -->
<script>
    function addNewDropdown() {
        return {
            _show: false,

            isOpen() {
                return this._show === true;
            },
            open() {
                this._show = true;
            },
            close() {
                this._show = false;
            },
            toggle() {
                this._show == !this._show;
            }
        };
    }
</script>
