<div x-data="searchDropdown()"
    @click="open()"
    data-tippy-content="Search"
    class="nav-user-notification
    cursor-pointer relative
    rounded-full shadow-sm
    border border-gray-200
    flex justify-center items-center
    bg-white p-1.5">

    <!-- the plus icon | dropdown trigger -->
    <div class="nav-icon-container h-5 w-5">
        <img src="{{ url_for('static', filename='icons/outline/search-outline.svg') }}">
    </div>


    <!-- actual dropdown -->
</div>


<style>
</style>


<!-- alpinejs data -->
<script>
    function searchDropdown() {
        return {
            _show: false,

            isOpen() {
                return this._show === true;
            },
            open() {
                this._show = true;
            },
            close() {
                this._show = false;
            },
            toggle() {
                this._show == !this._show;
            }
        };
    }
</script>
