{% extends "base.html" %}


{% block content %}
    {{ center_main() }}

    <form action="" method="post"
        id="login-form"
        class="py-5 px-9 rounded-md ajaxs"
        style="min-width: 350px; box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;">
        {{ form.csrf_token }}

        {% for field in form if field.name != 'csrf_token' and field.name != 'remember' %}
            <div class="form-field py-2">
                <div class="form-field-label pb-0.5 text-gray-700">{{ field.label(class="text-sm font-medium") }}</div>

                <div class="form-field-field relative flex">
                    {{ field(
                    class_="
                    transition
                    duration-300
                    w-full
                    border-2
                    border-gray-150
                    rounded-md
                    py-1 px-2
                    hover:bg-gray-100
                    focus:outline-none
                    focus:border-blue-400
                    focus:bg-white
                    ") }}
                </div>

                <div class="form-field-errors-container">
                    {% if field.errors %}
                        <script>
                            // adding the following error style classes to the input's class attribute
                            document.getElementById('{{ field.id }}').classList.add('bg-red-100', 'border-red-500');
                        </script>
                        {% for error in field.errors %}
                            <p class="form-field-error text-xs text-red-500">{{ error }}.</p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="form-field py-2 mt-3 flex justify-between items-center gap-2">
            <div class="form-remember-group flex justify-start items-center gap-2">
                <div class="switch">
                  <div class="switch-checker">
                    {{ form.remember(class='switch-checkbox') }}
                    <label for="chb-remember" class="switch-delegate"></label>
                  </div>
                    {{ form.remember.label(class="switch-title text-sm font-medium") }}
                </div>
            </div>
            <div class="form-forgot-password">
                <a href="{{ url_for('auth.reset_password') }}" class="text-blue-700 text-sm font-medium">Forgot password ?</a>
            </div>
        </div>

        <input type="submit" value="Login"
               class="
               block mx-auto mt-9 px-9 py-2
               shadow-md cursor-pointer
               rounded-full bg-blue-400
               text-white font-medium
               transition-all duration-300
               focus:outline-none
               focus:ring-2
               focus:ring-offset-2
               focus:ring-blue-400
               hover:bg-blue-500">
    </form>

    <style>
        :root {
          --width: 35px;
          --height: 20px;
          --radius: 30px;

          --track: 1px;
          --border-color: rgba(0,0,0,0.15);
          --bg-active-color: rgba(100, 245, 100);

          --duration: .45s;
        }


        .switch {
          display: flex;
          justify-content: start;
          align-items: center;
          gap: 10px;
        }

        .switch-title {
          user-select: none;
          color: black;
          font-family: 'Roboto';
        }

        .switch-delegate  {
          transition: all var(--duration) ease-in-out;
          position: relative;
          display: block;

          width: var(--width);
          height: var(--height);

          background: #fff;
          border: 1px solid var(--border-color);
          border-radius: var(--radius);
        }

        .switch-delegate::after {
          content: '';

          position: absolute;
          top: 0;
          left: 0;

          width: calc(var(--height) - var(--track) + 1px);
          height: calc(var(--height));

          top: 50%;
          left: -1px;
          transform: translatey(-50%);

          transition: all var(--duration) ease-in-out;
          box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.10);

          background: #fff;
          border: 1px solid var(--border-color);
          border-radius: var(--radius);
        }


        .switch-checkbox {
          position: absolute;
          visibility: hidden;
          display: none;
        }
        .switch-checkbox:checked + .switch-delegate {
          background: var(--bg-active-color);
          border-color: transparent;
        }
        .switch-checkbox:checked + .switch-delegate::after {
          border-color: transparent;

          left: calc(var(--width) - var(--height) - 1px);

          width: calc(var(--width) - var(--height) + 4px);
          height: calc(var(--height) - 2px);


          box-shadow: -2px 2px 18px 0 rgba(0,0,0,0.35);
        }

    </style>

{% endblock %}
