{% extends "base.html" %}

{% block content %}

    {% if not current_user.is_authenticated %}
        <div class="flex flex-col justify-between items-center gap-y-9 relative">
            <p class="text-gray-500 font-extrabold text-3xl" style="">Let's start your tour!</p>

            <a href="/signup" class="
                shadow-xl text-white font-bold
                bg-gradient-to-r
                from-blue-400 to-blue-500
                rounded-full px-9 py-3
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-indigo-500">
                Signup Now !
            </a>
        </div>
    {% else %}

        {# search by task #}
        {% if searching_type and searching_type == 'tasks' %}
            <table class="table-fixed w-full border border-gray-200">
                <thead class="bg-gray-100 font-semibold border-b-2 border-gray-200">
                    <tr>
                        <td class="py-2 px-4">Tasks</td>
                        <td class="py-2 px-4">Project</td>
                        <td class="py-2 px-4">Descriptions</td>
                        <td class="py-2 px-4 text-left">Status</td>
                        <td class="py-2 px-4 text-left">Deadline</td>
                        <td class="py-2 px-4 text-center">Actions</td>
                    </tr>
                </thead>
                {% for task in tasks %}
                <tr class="border-b border-gray-200 hover:bg-gray-50">
                    <td>
                        <span class="
                            {{ task.get_priority_class() }} ml-4 rounded-md px-5 py-1
                            flex justify-center align-center" style="width: 90px;">
                            {{ task.priority.name }}
                        </span>
                    </td>
                    <td class="py-2 px-4">{{ task.project.name }}</td>
                    <td class="py-2 px-4">{{ task.descriptions }}</td>
                    <td class="text-left pl-5"> {{ task.status.name }}</td>
                    <td class="text-left pl-5"> {{ task.deadline }}</td>
                    <td class="py-2 px-4 flex gap-2 items-center justify-center">
                        <a href="{{ url_for('task.delete', task_id=task.id) }}"
                            class="py-1 px-3 rounded bg-red-400 hover:bg-opacity-50 text-white flex justify-center items-center gap-2">
                            <img src="{{ url_for('static', filename='icons/outline/trash-outline.svg') }}"
                                class="w-4 filter invert">
                            <span>Trash</span>
                        </a>

                        <a href="{{ url_for('task.edit', task_id=task.id) }}"
                            class="py-1 px-3 rounded bg-yellow-400 hover:bg-opacity-50 text-white flex justify-center items-center gap-2">
                            <img src="{{ url_for('static', filename='icons/outline/create-outline.svg') }}"
                                class="w-4 filter invert">
                            <span>Modify</span>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>

        {% elif projects %}
            <div class="projects-container flex flex-col" style="gap: 100px;">

                {% for project in projects %}
                <div class="project">
                <table class="table-fixed w-full border border-gray-200">
                    <thead class="bg-gray-100 font-semibold border-b-2 border-gray-200">
                        <tr>
                            <td class="py-2 px-4">Project</td>
                            <td class="py-2 px-4">Descriptions</td>
                            <td class="py-2 px-4 text-left">Status</td>
                            <td class="py-2 px-4 text-left">Deadline</td>
                            <td class="py-2 px-4 text-center">Actions</td>
                        </tr>
                    </thead>
                        <tr class="border-b border-gray-200 hover:bg-gray-50">
                            <td class="py-2 px-4 text-indigo-400 font-semibold">{{ project.name }}</td>
                            <td class="py-2 px-4">{{ project.descriptions }}</td>
                            <td class="text-left pl-5"> {{ project.status.name }}</td>
                            <td class="text-left pl-5"> {{ project.deadline }}</td>
                            <td class="py-2 px-4 flex gap-2 items-center justify-center">
                                <a href="{{ url_for('project.delete', project_id=project.id) }}"
                                    class="py-1 px-3 rounded bg-red-400 hover:bg-opacity-50 text-white flex justify-center items-center gap-2">
                                    <img src="{{ url_for('static', filename='icons/outline/trash-outline.svg') }}"
                                        class="w-4 filter invert">
                                    <span>Trash</span>
                                </a>

                                <a href="{{ url_for('project.edit', project_id=project.id) }}"
                                    class="py-1 px-3 rounded bg-yellow-400 hover:bg-opacity-50 text-white flex justify-center items-center gap-2">
                                    <img src="{{ url_for('static', filename='icons/outline/create-outline.svg') }}"
                                        class="w-4 filter invert">
                                    <span>Modify</span>
                                </a>
                            </td>
                        </tr>
                </table>

                    {% if project.tasks %}
                    <table class="table-fixed w-full border border-gray-200">
                        <thead class="bg-gray-100 font-semibold border-b-2 border-gray-200">
                            <tr>
                                <td class="py-2 px-4">Tasks</td>
                                <td class="py-2 px-4">Descriptions</td>
                                <td class="py-2 px-4 text-left">Status</td>
                                <td class="py-2 px-4 text-left">Deadline</td>
                                <td class="py-2 px-4 text-center">Actions</td>
                            </tr>
                        </thead>
                            {% for task in project.tasks if not task.trashed %}
                            <tr class="border-b border-gray-200 hover:bg-gray-50">
                                <td>
                                    <span class="
                                        {{ task.get_priority_class() }} ml-4 rounded-md px-5 py-1
                                        flex justify-center align-center" style="width: 90px;">
                                        {{ task.priority.name }}
                                    </span>
                                </td>
                                <td class="py-2 px-4">{{ task.descriptions }}</td>
                                <td class="text-left pl-5"> {{ task.status.name }}</td>
                                <td class="text-left pl-5"> {{ task.deadline }}</td>
                                <td class="py-2 px-4 flex gap-2 items-center justify-center">
                                    <a href="{{ url_for('task.delete', task_id=task.id) }}"
                                        class="py-1 px-3 rounded bg-red-400 hover:bg-opacity-50 text-white flex justify-center items-center gap-2">
                                        <img src="{{ url_for('static', filename='icons/outline/trash-outline.svg') }}"
                                            class="w-4 filter invert">
                                        <span>Trash</span>
                                    </a>

                                    <a href="{{ url_for('task.edit', task_id=task.id) }}"
                                        class="py-1 px-3 rounded bg-yellow-400 hover:bg-opacity-50 text-white flex justify-center items-center gap-2">
                                        <img src="{{ url_for('static', filename='icons/outline/create-outline.svg') }}"
                                            class="w-4 filter invert">
                                        <span>Modify</span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                    </table>
                    {% else %}
                        <table class="table-fixed w-full border border-gray-200">
                            <thead class="bg-gray-100 font-semibold border-b-2 border-gray-200">
                                <tr>
                                    <td class="py-2 px-4" colspan="5">No Tasks.</td>
                                </tr>
                            </thead>
                        </table>
                    {% endif %}

                </div>  <!-- .project -->
                {% endfor %}

            </div> <!-- .projects-container -->
        {% endif %}  <!-- check logged in user projects -->

    {% endif %} <!-- check user logged in -->

{% endblock %}
