{% extends "base.html" %}

{% block content %}
    {{ center_main() }}

    {% if not current_user.is_authenticated %}
        <div class="flex flex-col justify-between items-center gap-y-9 relative">
            <p class="text-gray-500 font-extrabold text-3xl" style="font-family: system-ui;">Let's start your tour!</p>

            <a href="/signup" class="
                shadow-xl text-white font-bold
                bg-gradient-to-r
                from-blue-400 to-blue-500
                rounded-full px-9 py-3
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-indigo-500">
                Signup Now !
            </a>

            <div class="placeholder text-justify">
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi aperiam, aspernatur, aut,
                    corporis dignissimos enim in labore maiores maxime officiis possimus quibusdam quis ratione rem sit
                    veniam veritatis! Dolores?
                </div>
                <div>Asperiores, beatae cum cupiditate deleniti hic labore laborum magni optio quia, quos saepe sit?
                    Alias ducimus eos, ex in quas quo ratione temporibus tenetur voluptas. Consequuntur sit sunt tempora
                    vel.
                </div>
                <div>Amet aut consequatur eaque enim est excepturi id ratione. Aliquam, aliquid culpa doloremque
                    doloribus dolorum explicabo harum necessitatibus, nihil non numquam porro quidem quis quos
                    recusandae reiciendis repudiandae voluptatem, voluptatum.
                </div>
                <div>A aliquid aperiam architecto asperiores aut dolorem error esse eum ex fugiat, iste natus, nemo
                    nihil nobis odit quae quaerat qui quibusdam quod saepe tenetur vero voluptate. Adipisci aliquam,
                    unde!
                </div>
                <div>Accusantium, atque consequatur earum et impedit itaque nulla obcaecati pariatur rem, similique unde
                    velit vero voluptates. Consectetur distinctio illo minima nemo sequi. Accusantium animi aut delectus
                    excepturi id ipsum nobis?
                </div>
                <div>Aut eveniet excepturi laboriosam minima modi repellat repudiandae sit. Aliquam beatae culpa
                    delectus quas? Exercitationem fugiat magnam nulla optio quia quis? Aperiam in possimus repellendus.
                    Accusamus dignissimos nesciunt quo reprehenderit.
                </div>
                <div>Accusamus alias architecto consequuntur corporis cum debitis delectus dicta doloremque dolorum
                    eveniet expedita illum in laborum molestiae, nam nemo non odio placeat provident quam quas qui
                    reiciendis tempore tenetur totam?
                </div>
                <div>Aliquam aspernatur blanditiis consequatur dolore dolorum enim excepturi, expedita fugit harum
                    incidunt ipsa iure laboriosam libero nisi nulla, odio officiis pariatur placeat quas repellat soluta
                    voluptatem voluptates voluptatibus. Animi, perspiciatis!
                </div>
                <div>Accusantium adipisci consectetur eligendi enim vero voluptas voluptatem! Debitis delectus est
                    expedita incidunt iusto molestiae non numquam placeat quod voluptatibus. Beatae dicta dolores
                    doloribus eaque eligendi, laborum modi quod vero!
                </div>
                <div>Ad autem consequuntur culpa debitis dolorum earum eos impedit incidunt laborum, magnam minus
                    mollitia nihil pariatur rem repellat suscipit vel? Deserunt hic ipsam porro voluptas. Aut ipsum
                    molestias optio sint?
                </div>
            </div>
        </div>
    {% else %}
        <div class="flex flex-col justify-between items-center gap-y-9 relative">
            <p class="text-gray-500 font-extrabold text-3xl" style="font-family: Onelove;">Welcome! {{ current_user.full_name}}</p>

            <a href="/signup" class="
                shadow-xl text-white font-bold
                bg-gradient-to-r
                from-blue-400 to-blue-500
                rounded-full px-9 py-3
                focus:outline-none
                focus:ring-2
                focus:ring-offset-2
                focus:ring-indigo-500">
                Create your first Project
            </a>
        </div>
    {% endif %}

{% endblock %}
