<!DOCTYPE html>

{# importing global macros #}
{% from "macros.html" import center_main %}


<html lang="en">
<head>
    <meta charset="UTF-8" >
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {# including javascript, css files, #}
    {% include "head-files.html" %}


    <!--  showing the APP_NAME environment variable  -->
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/x-icon">
    <title>{{ config.APP_NAME }} {% block title %} {% endblock %}</title>
</head>
<body>
    <div id="root">
        <header id="header" class="container flex-col justify-between bg-white">
            <div id="header-bg" class="p-5 text-center flex justify-center items-end" style="gap: 15px;">
                <img src="../static/banner.png" class="inline-block" style="width: 55px">
                <a href="/" class="font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-200 to-blue-400" style="font-size: 27px;">Todo List App</a>
            </div>
            <nav id="nav" class="px-9 flex justify-between items-stretch" style="border-top: 1px solid #eee; background: #fcfcfc6b;">
                {# using the |safe filter to ensure the content returned from the function is safe, no need escaping #}
                {{ navbar_component()|safe }}
            </nav>
        </header>


        <main id="main" class="container relative flex flex-col flex-auto bg-white p-9">
            {# the "flash.html" have to placed inside the #main, because only the #main (& #nav) appended from ajax calls. #}
            {% include "flash.html" %}

            {% block content %} {% endblock %}
        </main>


        <footer id="footer" class="container text-center text-sm text-gray-400 font-medium px-9 py-3" style="background: #fcfcfc;">
            Copyright &copy; 2021 - Nguyễn Anh Tuấn - Web Portfolio
        </footer>
    </div>



    <!--  base  -->
    <link rel="stylesheet" href="../static/base.css">
    <script src="../static/init.js" defer></script>
    <script src="../static/base.js" defer></script>

</body>
</html>
