<!-- small-screen nav bar ( < 640px)-->
<div 
    x-data="drawer()"
    class="mobile-menu md:hidden flex items-center justify-center">

    <!-- drawer trigger -->
    <div @click="toggle()" class="hamburger-button flex flex-col items-center justify-center gap-1"
        :style="`transform: ${isOpen() ? 'translatex(-12px)': ''}`">
        <span class="w-6 h-1 bg-gray-400 cursor-pointer rounded-md transition duration 700"
              :style="`transform: ${isOpen() ? 'rotate(45deg) translate(12px, 0px)': ''}`"></span>

        <span class="w-6 h-1 bg-gray-400 cursor-pointer rounded-md transition duration 700"
              :style="`opacity:  ${isOpen() ? '0' : ''}`"></span>

        <span class="w-6 h-1 bg-gray-400 cursor-pointer rounded-md transition duration 700"
              :style="`transform: ${isOpen() ? 'rotate(-45deg) translate(12px, 0px)': ''}`"></span>

    </div>


    <!-- the nav bar (drawer) -->
    <div
        id="mobile-drawer"
        class="md:hidden fixed left-0 h-screen z-10">


        <!-- the overlay background -->
        <div
            x-show.transition.opacity.duration.1000="isOpen()"
            @click="close()"
            class="mobile-drawer-overlay fixed w-screen h-screen"
            style="background: rgba(0, 0, 0, 0.75); ">
        </div>

        
        <!-- actual menu -->
        <ul :style="`left: ${isOpen() ? '0' : '-500px'};`"
            class="fixed transition-all duration-500
                flex flex-col items-stretch w-2/3
                pt-2 bg-white h-screen
                border-r-2 border-gray-300" >

            <!-- rendering the content (would be performed by the jinja engine) -->
            {% for item in vm.nav_items %}
                <li>
                    <a
                    href="{{ item.href }}"
                    class="px-3 py-3 pl-7 ajax
                        text-left
                        flex justify-start items-center
                        font-semibold text-gray-300
                        transition duration-300
                        hover:bg-gray-50
                        hover:text-black
                        {%- if item.is_active -%}
                            active text-blue-500
                        {%- endif -%}">
                    {{ item.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- alpinejs data declaration -->
    <script>
        function drawer() {
            return {
                _show: false,
    
                isOpen() {
                    return this._show === true;
                },
    
                open() {
                    this._show = true;
                },
                close() {
                    this._show = false;
                },
                toggle() {
                    this._show = !this._show;
                },
            }
        }
    </script>
</div>




<!-- wide-screen nav bar (640px < ) -->
<div class="hidden nav-left-side md:flex items-stretch">
    {% for item in vm.nav_items %}
        <a
            href="{{ item.href }}"
            class="px-3 py-4 ajax
            flex justify-center items-center
            font-semibold text-gray-300
            transition duration-300
            hover:bg-gray-100
            hover:text-black
            {%- if item.is_active %}
                active border-b-2 border-blue-400 text-blue-500
            {%- endif -%}">
            {{ item.title }}
        </a>
    {% endfor %}
</div>



<!-- right area (user dropdown, ...) -->
<div class="nav-right-side flex justify-between items-center gap-10">
    {% if not vm.user.is_authenticated %}
        <a href="{{ url_for('auth.login') }}"
           style="{% if url_for(request.endpoint) == '/login' %}display: none; {% endif %}"
           class="font-semibold">
            Login
        </a>

        <a href="{{ url_for('auth.signup') }}"
           style="{% if url_for(request.endpoint) == '/signup' %}display: none; {% endif %}"
           class="flex justify-center items-center
           bg-blue-400 text-white font-semibold capitalize
           rounded-md px-6 py-2 shadow
           focus:outline-none
           focus:ring-2
           focus:ring-offset-2
           focus:ring-blue-300">
            Create account
        </a>
    {% else %}

        <!-- notification area -->
        <div x-data="notificationDropdown()"
            class="nav-user-notification
            cursor-pointer
            relative 
            rounded-full
            shadow-sm
            border border-gray-200
            flex justify-center items-center
            bg-white p-1">

            <!-- the bell icon | dropdown trigger -->
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>

            <!-- counter -->
            <span class="nav-user-notification-count
                        flex justify-center items-center
                        absolute w-3 h-3 rounded-full p-0.5
                        border-2 border-white
                        text-white text-xs bg-red-500"
                        style="bottom: 15px; left: 15px;"></span>

            <!-- actual dropdown -->
            <div class="nav-user-notification-dropdown absolute">

            </div>

            <!-- alpinejs data -->
            <script>
                function notificationDropdown() {
                    return {
                        _show: false,
    
                        isOpen() {
                            return this._show === true;
                        },
                        open() {
                            this._show = true;
                        },
                        close() {
                            this._show = false;
                        },
                        toggle() {
                            this._show == !this._show;
                        }
                    };
                }
            </script>
        </div>


        <!-- user dropdown menu area -->
        <div id="nav-user-area" class="relative" x-data="userDropdown()">

            <!-- user dropdown menu trigger -->
            <div class="nav-user-area-avatar">
                <button @click="open()"
                        class="
                        bg-white
                        flex justify-end items-center
                        rounded-full shadow-sm
                        border border-gray-200
                        focus:outline-none">
                    <p class=" px-4
                       text-gray-500 text-sm font-semibold
                       transition duration-300" style="">
                        {{ vm.full_name }}
                    </p>
                    <img
                        src="{{ url_for('static', filename=extract_avatar_url(vm.user.avatar_url)) }}"
                        class="h-8 w-8 rounded-full object-cover">
                </button>
            </div>

            <!-- user dropdown actual menu -->
            <div x-show.transition.origin.top.right="isOpen()" @click.away="close()"
                class="nav-user-area-dropdown
                flex flex-col justify-start align-start
                absolute z-50 right-0
                rounded-lg bg-white "
                style="top: 180%; min-width: 100px;
                box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.04) 0px 0px 0px 1px;">

                <div class="menu-group">
                    <a href="{{ url_for('auth.profile') }}"
                       class="py-2 px-4 w-full pr-14
                       text-gray-500 text-sm
                       transition duration-300
                       hover:bg-gray-100" style="">
                        View profile
                    </a>
                </div>

                <div class="menu-group">
                    <a href="{{ url_for('auth.profile') }}"
                       class="py-2 px-4 w-full pr-14
                       text-gray-500 text-sm
                       transition duration-300
                       hover:bg-gray-100" style="">
                        Projects
                    </a>
                    <a href="{{ url_for('auth.profile') }}"
                    class="py-2 px-4 w-full pr-14
                    text-gray-500 text-sm
                    transition duration-300
                    hover:bg-gray-100" style="">
                     Organizations
                 </a>
                </div>

                <div class="menu-group">
                    <a href="{{ url_for('auth.profile') }}"
                       class="py-2 px-4 w-full pr-14
                       text-gray-500 text-sm
                       transition duration-300
                       hover:bg-gray-100" style="">
                        Settings
                    </a>
                </div>

                <div class="menu-group pb-1">
                    <a href="{{ url_for('auth.logout') }}"
                       id="btn-logout"
                       class="py-2 px-4 min-w-max pr-14 not-ajax
                       text-gray-500 text-sm
                       transition duration-300
                       text-red-500
                       font-semibold
                       hover:bg-red-100
                       " style="">
                        Sign out
                    </a>
                </div> <!-- .menu-group -->
            </div> <!-- .nav-user-area-dropdown -->
        </div>

        <style>
            .nav-user-area-dropdown::after,
            .nav-user-area-dropdown::before {
                content: "";

                position: absolute;
                top: -7px;
                right: 15px;

                border-bottom: 7px solid #fff;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
            }
            .nav-user-area-dropdown::after {
                z-index: -1;
                top: -8.1px;
                right: 14px;

                border-bottom: 8px solid rgba(0, 0, 0, 0.1);
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
            }

            .menu-group:not(:last-of-type) {
                border-bottom: 1px solid #eee;
                padding: 5px 0;
                /*font-weight: 500;*/
            }

            .menu-group a {
                display: block;
                margin: 0;
            }
            .menu-group a:hover {
                background-color: #eee;
                color: rgb(56, 56, 56);
            }
        </style>

        <script>
            function userDropdown() {
                return {
                    _show: false,

                    isOpen() {
                        return this._show === true;
                    },
                    open() {
                        this._show = true;
                    },
                    close() {
                        this._show = false;
                    },
                    toggle() {
                        this._show == !this._show;
                    }
                };
            }

            $('#btn-logout').click(function (e) {
                e.preventDefault();

                $.confirm('Are you sure you want to logout ?', () => {
                    navigateTo('/logout');
                });
            });
        </script>
    {% endif %}
</div>
