<!-- small-screen nav bar ( < 640px)-->
<div 
    x-data="drawer()"
    class="monile-menu sm:hidden flex items-center justify-center">

    <!-- drawer trigger -->
    <div @click="toggle()"
        class="hamburger-button flex flex-col items-center justify-center gap-1">
        <span class="w-6 h-1 bg-gray-400 cursor-pointer rounded-md"></span>
        <span class="w-6 h-1 bg-gray-400 cursor-pointer rounded-md"></span>
        <span class="w-6 h-1 bg-gray-400 cursor-pointer rounded-md"></span>
    </div>


    <!-- the nav bar (drawer) -->
    <div
        id="mobile-drawer"
        class="sm:hidden fixed left-0 bottom-0 right-0 h-screen z-10">


        <!-- the overlay background -->
        <div
            x-show.transition.opacity="show"
            @click="close()"
            class="mobile-drawer-overlay fixed w-screen h-screen"
            style="background: rgba(0, 0, 0, 0.75); ">
        </div>

        
        <!-- actual menu -->
        <ul :style="`left: ${isOpen() ? '0' : '-500px'};`"
            class="fixed transition-all duration-500
                flex flex-col items-stretch w-2/3
                pt-2 bg-white h-screen
                border-r-2 border-gray-300" >

            <!-- rendering the content (would be performed by the jinja engine) -->
            {% for item in vm.nav_items %}
                <li>
                    <a
                    href="{{ item.href }}"
                    class="px-3 py-3 pl-7 ajax
                        text-left
                        flex justify-start items-center
                        font-semibold text-gray-300
                        transition duration-300
                        hover:bg-gray-50
                        hover:text-black
                        {%- if item.is_active -%}
                            active text-blue-500
                        {%- endif -%}">
                    {{ item.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        function drawer() {
            return {
                show: false,
    
                isOpen() {
                    return this.show === true;
                },
    
                open() {
                    this.show = true;
                },
                close() {
                    this.show = false;
                },
                toggle() {
                    this.show = !this.show;
                },
            }
        }
    </script>
</div>




<!-- wide-screen nav bar (640px < ) -->
<div class="hidden nav-link-container sm:flex items-stretch">
    {% for item in vm.nav_items %}
        <a
            href="{{ item.href }}"
            class="px-3 py-4 ajax
            flex justify-center items-center
            font-semibold text-gray-300
            transition duration-300
            hover:bg-gray-50
            hover:text-black
            {%- if item.is_active %}
                active border-b-2 border-blue-400 text-blue-500
            {%- endif -%}">
            {{ item.title }}
        </a>
    {% endfor %}
</div>



<!-- right area (user dropdown, ...) -->
<div class="nav-link-user-area flex justify-between items-center gap-7">
    {% if not vm.user.is_authenticated %}
        <a href="{{ url_for('auth.login') }}"
           style="{% if url_for(request.endpoint) == '/login' %}display: none; {% endif %}"
           class="font-semibold">
            Login
        </a>

        <a href="{{ url_for('auth.signup') }}"
           style="{% if url_for(request.endpoint) == '/signup' %}display: none; {% endif %}"
           class="flex justify-center items-center
           bg-blue-400 text-white font-semibold capitalize
           rounded-md px-6 py-2 shadow
           focus:outline-none
           focus:ring-2
           focus:ring-offset-2
           focus:ring-blue-300">
            Create account
        </a>
    {% else %}
        <div id="nav-user-area"
             class="relative"
             x-data="{ open: false }">

            <div class="nav-user-area-avatar">
                <button @click="open = true"
                        class="
                        flex justify-end items-center
                        rounded-full
                        ring-2 ring-offset-2 ring-blue-500
                        focus:outline-none">
                    <p class="px-4
                       text-gray-500 text-sm font-semibold
                       transition duration-300" style="">
                        {{ vm.full_name }}
                    </p>
                    <img
                        src="{{ url_for('static', filename=extract_avatar_url(vm.user.avatar_url)) }}"
                        class="h-8 w-8 rounded-full object-cover">
                </button>
            </div>

            <div x-show.transition.origin.top.right="open" @click.away="open = false"
                class="nav-user-area-dropdown
                overflow-hidden
                flex flex-col justify-start align-start
                absolute z-50 right-0
                border border-gray-200
                rounded-lg bg-white shadow-xl"
                style="top: 120%; min-width: 100px;">

                <div class="menu-group">
                    <a href="{{ url_for('auth.profile') }}"
                       class="py-2 px-4 w-full pr-14
                       text-gray-500 text-sm
                       transition duration-300
                       hover:bg-gray-100" style="">
                        Profile
                    </a>
                    <a href="{{ url_for('auth.profile') }}"
                       class="py-2 px-4 w-full pr-14
                       text-gray-500 text-sm
                       transition duration-300
                       hover:bg-gray-100" style="">
                        Profile
                    </a>
                    <a href="{{ url_for('auth.profile') }}"
                       class="py-2 px-4 w-full pr-14
                       text-gray-500 text-sm
                       transition duration-300
                       hover:bg-gray-100" style="">
                        Profile
                    </a>
                </div>

                <div class="menu-group pb-1">
                    <a href="{{ url_for('auth.logout') }}"
                       id="btn-logout"
                       class="py-2 px-4 min-w-max pr-14 not-ajax
                       text-gray-500 text-sm
                       transition duration-300
                       text-red-500
                       font-semibold
                       hover:bg-red-100
                       " style="">
                        Sign out
                    </a>
                </div> <!-- .menu-group -->
            </div> <!-- .nav-user-area-dropdown -->
        </div>

        <style>
            .menu-group:not(:last-of-type) {
                border-bottom: 1px solid #eee;
                padding: 5px 0;
                /*font-weight: 500;*/
            }
            .menu-group a {
                display: block;
            }
            .menu-group:not(:last-of-type) a:hover {
                background-color: dodgerblue;
                color: #fff;
            }
        </style>

        <script>
            $('#btn-logout').click(function (e) {
                e.preventDefault();

                $.confirm('Are you sure you want to logout ?', () => {
                    navigateTo('/logout');
                });
            });
        </script>
    {% endif %}
</div>
