<div class="nav-link-container flex items-stretch">
    {% for item in vm.nav_items %}
        <a
            href="{{ item.href }}"
            class="px-3 py-4
            flex justify-center items-center
            font-semibold text-gray-300
            transition duration-300
            hover:bg-gray-50
            hover:text-black
            {%- if item.is_active %}
                active border-b-2 border-blue-400 text-blue-500
            {%- endif -%}">
            {{ item.title }}
        </a>
    {% endfor %}
</div>

<div class="nav-link-user-area flex justify-between items-center gap-7 py-3">
    {% if not vm.user.is_authenticated %}
        <a href="{{ url_for('auth.login') }}"
           style="{% if url_for(request.endpoint) == '/login' %}display: none; {% endif %}"
           class="font-semibold">
            Login
        </a>

        <a href="{{ url_for('auth.signup') }}"
           style="{% if url_for(request.endpoint) == '/signup' %}display: none; {% endif %}"
           class="flex justify-center items-center
           bg-blue-400 text-white font-semibold capitalize
           rounded-md px-6 py-2 shadow
           focus:outline-none
           focus:ring-2
           focus:ring-offset-2
           focus:ring-blue-300">
            Create account
        </a>
    {% else %}
        <div id="nav-user-area" class="relative">
            <div class="nav-user-area-avatar">
                <button class="
                         rounded-full
                         ring-2
                         ring-offset-2
                         ring-blue-500
                         focus:outline-none">
                    <img src="https://tinyurl.com/yg53kq2k"
                         class="h-8 w-8 rounded-full">
                </button>
            </div>

            <div class="
                    hidden
                    flex flex-col justify-start align-start
                    nav-user-area-dropdown
                    absolute z-50 right-0
                    overflow-hidden
                    py-1
                    border border-gray-200
                    rounded bg-white shadow-sm"
                style="">

                <a href="{{ url_for('auth.login') }}"
                   class="py-2 px-4 min-w-max pr-14
                   text-gray-500 text-sm
                   transition duration-300 hover:bg-gray-100" style="">
                    Profile
                </a>
                <a href="{{ url_for('auth.logout') }}"
                   class="py-2 px-4 min-w-max pr-14
                   text-gray-500 text-sm
                   transition duration-300 hover:bg-gray-100" style="">
                    Sign out
                </a>
            </div>
        </div>

        <style>
            #nav-user-area:hover > div:last-child {
                display: flex;
            }
        </style>
    {% endif %}
</div>
